body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0;
    margin: 0px;
    overflow: hidden;
}

.sidenav a {
    position: absolute;
    left: -130px;
    transition: 0.5s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    opacity: 0.6;
}

.sidenav a:hover {
    left: 0;
    opacity: 1;
}

.top h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20px;
    font-size: 40px;
    color: black;
}

.top h5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
    font-style: italic;
    color: #80c1ff;
    margin: 0px;
}

.Download {
    text-align: center;
}

.Download h3 {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}

.Download a {
    padding: 5px;
    border: 2px solid #80c1ff;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #80c1ff;
}

.Download a:hover {
    color: black;
    background-color: #80c1ff;
}

.Download a:active {
    color: #80c1ff;
}

.footer {
    display: flex;
    justify-content: center;
}

.social-media {
    padding-top: 20px;
    display: flex;
}

.social-media img {
    padding-right: 10px;
}

.social-media img:hover {
    opacity: 0.4;
}

.linkedin {
    font-size: 100%;
}

.github {
    font-size: 100%;
}

.blog {
    font-size: 100%;
}

#copyright {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

#picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#bio {
    top: 116px;
    background-color: #4da8ff;
    color: black;
}

#resume {
    top: 20px;
    background-color: #b3daff;
    color: black
}

#home {
    top: 68px;
    background-color: #80c1ff;
    color: black;
}