body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0;
    margin: 0px;
}

.top h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20px;
    font-size: 40px;
    color: black;
}

#picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.top h5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
    font-style: italic;
    color: #80c1ff;
    margin: 0px;
}

.footer {
    display: flex;
    justify-content: center;
}

.social-media {
    padding-top: 20px;
    display: flex;
}

.social-media img {
    padding-right: 10px;
}

.social-media img:hover {
    opacity: 0.4;
}

.linkedin {
    font-size: 100%;
}

.github {
    font-size: 100%;
}

.blog {
    font-size: 100%;
}

#copyright {
    position: fixed;
    bottom: 0px;
    right: 10px;
}
